@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Lobster&family=Open+Sans:wght@300;400;600;800&family=Tilt+Prism&family=Work+Sans:wght@400;500;700;800&display=swap');
*{
    font-family: 'Josefin Sans', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Tilt Prism', cursive;
font-family: 'Work Sans', sans-serif;

}
/*heading style*/
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 256px;
}
.primary-btn{
    background-color: orange;
    color: white;
    border: 0;
 border-radius: 10px;
    width: 180px;
    height: 64px;
   cursor: pointer;
    margin-bottom: 20px;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 30px;
    color: var(--dark-02, #424242);
  font-size: 1rem;
  font-weight: 500;
}
nav li a{
    text-decoration: none;
}
.nav-title{
    color: var(--dark-01, #131313);

font-size: 3rem;
font-style: normal;
font-weight: 700;
align-items: center;
}
.banner-title{
    color: var(--dark-01, #131313);
font-size: 4rem;
font-weight: 700;
}
.banner-description{
    color: #727272;
    font-size: 1rem;
    font-weight: 400px;
}
.banner-contain{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
header img{
    width: 100%;
}
/*main styles*/
main{
    max-width: 1440px;
 margin: 90px auto;
}
.teams-container{
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0 auto;
}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    gap:1rem;
    align-items: center;

}
.teams-content{
padding-left: 70px;
padding-right: 70px;
}
.teams-title{
    width: 468px;
    color: var(--dark-03, #727272);
    font-size: 3rem;
    font-weight: 500;
    width: 468px;
}
.quick{
    color: var(--dark-03, #727272);
}
.our{
    color: var(--dark-01, #131313);
font-weight: 700;
}
.features{
    color: #FF900E;
font-weight: 700;
}
.teams-description{
width: 537px;
color: var(--dark-03, #727272);
font-size: 1rem;
font-weight: 400;
margin-bottom: 30px;

}
.featuress{
    display: flex;
    margin-top: 130px;
    gap: 50px;
    margin-bottom: 100px;
    margin-left: 100px;
    justify-content: center;
}
.fu-h3{ border-left: red;
    width: 468px;
    color: var(--dark-01, #131313);
font-size: 3rem;
font-weight: 700;
}
.fu-p{
    width: 586px;
    color: var(--dark-03, #727272);
font-size: 1rem;
font-weight: 400;
}
.card-h4{
    color: var(--dark-01, #131313);
font-size: 1.8rem;
font-weight: 600;
}
.card-p{
    width: 514px;
    color: var(--dark-03, #727272);
font-size: 1rem;
font-weight: 400;
}
.future-card{
    background-color: #ffff;
    box-shadow: 0px 4px 30px 0px black;
    border-radius: 8px;
    width: 586px;
    height: 171px;
    flex-shrink: 0;
text-align: center;
}
.ten-years{
   max-width: max-content;
   background-color: #FF900E;
   color: white;
   padding: 10px 40px;
   border-radius: 5px;
  position: relative;
  bottom: 40px;
}
.fu-img img{
    width: 100%;
    height: 100%;
}

.section-title{
    color: var(--dark-01, #131313);

font-size: 3rem;
font-style: normal;
font-weight: 700;
align-items: center;
}
.text-facts{
    color: #727272;
    font-size: 1rem;
    font-weight: 400px;
    width: 520px;
}
.facts-card-container{
    display: flex;
    justify-content: space-around;
    margin: 80px 0;
    
}

.facts-card-container .card{
    border-radius: 8px;
border: 1px solid #FF900E;
text-align: center;
padding: 30px;
}
.facts-card-container .card-title{
    color: var(--dark-03, #727272);
font-size: 1rem;
font-weight: 600;

}
.facts-card-container{
    gap: 10px;
}

.sponsors{
    text-align: center;
}
.sponsor-images{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
footer{
   
    background-color: antiquewhite;
 width: 700px;
 height: 60px;
 margin: 0 auto;
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 30px;
}


/*responsive mediya style*/
@media screen and (max-width:576px) {
    header{
        padding:20px;

    }
    nav , .teams-container ,.facts-card-container ,.sponsor-images , .featuress{      
        flex-direction: column;
    }
    .teams-img-container {
      grid-template-columns: 1fr;
    }
    .teams-container{
        padding-left: 10px;
        padding-right: 10px;
    }
    .teams-content{
        align-items: center;
        width:100%;
    }
    .teams-description ,.text-facts{
       max-width: 100%;
    }
    .sponsor-images{
        gap: 30px;
    }
    footer{
        width: 100%;
    }
   .future-card{
    width: 100%;}
    .fu-p{
        width: 100%;
    }
    .card-p, .fu-h3{
        width: 100%;
    }
}
/*medium device*/
@media screen and (min-width:576px) and  (max-width:960px) {

    header{
        padding: 50px;
    }
    nav , .teams-container , .facts-card-container ,.sponsor-images ,.featuress{
        flex-direction:column;
        align-items: center;
    }
    .sponsor-images{
        gap: 50px;
    }
    
}
