@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Lobster&family=Open+Sans:wght@300;400;600;800&family=Tilt+Prism&family=Work+Sans:wght@400;500;700;800&display=swap');
*{
    font-family: 'Josefin Sans', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Tilt Prism', cursive;
font-family: 'Work Sans', sans-serif;

}
/*heading style*/
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 256px;
}
.primary-btn{
    background-color: orange;
    color: white;
    border: 0;
 border-radius: 10px;
    width: 180px;
    height: 64px;
   cursor: pointer;
    margin-bottom: 20px;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 30px;
    color: var(--dark-02, #424242);
  font-size: 1rem;
  font-weight: 500;
}
nav li a{
    text-decoration: none;
}
.nav-title{
    color: var(--dark-01, #131313);

font-size: 3rem;
font-style: normal;
font-weight: 700;
align-items: center;
}
.banner-title{
    color: var(--dark-01, #131313);
font-size: 4rem;
font-weight: 700;
}
.banner-description{
    color: #727272;
    font-size: 1rem;
    font-weight: 400px;
}
.banner-contain{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
header img{
    width: 100%;
}




/*responsive mediya style*/
@media screen and (max-width:576px) {
    header{
        padding: 20px;

    }
    nav{
        flex-direction: column;
    }
}
/*medium device*/
@media screen and (min-width:576px) and  (max-width:960px) {

    header{
        padding: 50px;
    }
    nav{
        flex-direction:column;
        align-items: center;
    }
    
}
/*main styles*/
main{
    max-width: 1440px;
 margin: 0 auto;
}
.teams-container{
   display: flex;
   align-items: center;
}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    gap:1rem;

}
.teams-content{
padding-left: 70px;
padding-right: 70px;
}
.teams-title{
    width: 468px;
    color: var(--dark-03, #727272);
    font-size: 3rem;
    font-weight: 500;
    width: 468px;
}
.quick{
    color: var(--dark-03, #727272);
}
.our{
    color: var(--dark-01, #131313);
font-weight: 700;
}
.features{
    color: #FF900E;
font-weight: 700;
}
.teams-description{
width: 537px;
color: var(--dark-03, #727272);
font-size: 1rem;
font-weight: 400;
margin-bottom: 30px;

}